.activity-item {
  box-shadow: 0 0 12px rgb(235, 235, 235);
  background-color: white;
  position: relative;
  overflow: hidden;
  display: block;
  transition: 0.4s ease;
  transition-property: box-shadow;

  +hover() {
    box-shadow: 0 0 60px rgb(200, 200, 200);
  }

  > .bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10em;
    overflow: hidden;

    > .img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      opacity: 0.6;
      z-index: 8;
    }

    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 10em;
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(to left, transparent 20%, rgba(255, 255, 255, 0.5) 60%, white);
      z-index: 9;
    }
  }

  > .inner {
    padding: 1rem;
    width: calc(100% - 2rem);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    > * {
      z-index: 10;
    }

    > .title {
      display: block;
      font-weight: bold;
    }

    > .info {
      font-size: 0.8em;
    }

    > .description {
      flex: 1 1 100%;
      font-size: 0.8em;
      margin: 0.8rem 0;
    }
  }
}
