hover() {
  /body:not(.__device-touchdevice) {selector()}:hover {
    {block};
  }
}

media(query) {
  @media query {
    /{selector()} {
      {block}
    }
  }
}

tablet() {
  +media("screen and (max-width: 1023px)") {
    {block}
  }
}

mobile() {
  +media("screen and (max-width: 767px)") {
    {block}
  }
}
