html {
  line-height: 1.5;
  background-color: rgb(245, 245, 245);
}

body {
  margin: 0;
  padding: 0;
  font-family: Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul, ol {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

hr {
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 2rem 0;
}
